/*// GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #1e2d3b;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*// UTILITY */
.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
/* Bg-color */
.bg-light-blue {
    background-color: #2e3a46;
}
/* Text style */
.text-capitalize {
    text-transform: capitalize;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-normal {
    font-style: normal;
}
.text-white {
    color: white;
}
.text-grey{
    color: #808080;
}


/*// BODY */
/** Header */
header {
    height: 80px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
} 
#logo {
    height: 60px;
}

/** Main */
/* Card section style */
.card-section {
    margin-top: 50px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Card style */
.card {
    text-align: center;
    list-style-type: none;
    padding: 20px;
    width: 200px;
    background-color: #2e3a46;
    margin: 10px 10px;
}
.card .poster {
    width: 100%;
    height: auto;  
}
.card .title {
    padding: 15px 0;
    font-size: 22px;

}
.card .author {
    font-size: 20px;
    padding-top: 15px;
}
.card .year {
    font-size: 15px;
} 

